extends common/layout
include common/mixins

block content
	- var phone = '+7 (800) 600-01-90';
	- var vk = ' https://vk.com/hellosales';
	- var tiktok = 'https://vm.tiktok.com/ZSJ6nC9kQ/';
	- var telegram = 'https://t.me/babki_na_udalenke ';

	- var yagla = 'https://yagla.ru/';
	- var senler = 'https://senler.ru/';
	- var kia = 'https://www.kia.ru/';
	- var lenfilm = 'https://www.lenfilm.ru/';
	- var license = '';
	- var privacy = '';
	- var designerLink = '';


	- var giftPop = 'https://yadi.sk/i/XTZa8suuedzD1A';

	- var buttonPricing = 'https://nadoje.getcourse.ru/hsm_1month ';
	- var buttonLastForm = 'https://nadoje.getcourse.ru/hsm_1month_fast';
	- var demo ='https://nadoje.getcourse.ru/hsm_demo';
	- var buttonTestimonials = 'https://higher-school-of-marketing.com/keis'
	- var leavingPop = 'https://yadi.sk/i/XTZa8suuedzD1A'



	main
		header.header-wrapper
			.container.header
				.header-logo
					//- img.logo(src="./img/hero/hero-logo.png", alt="")
					img.logo(src="./img/hero/logo-x4.png", alt="")
				nav
					a.nav-item(href="#programm") Программа
					a.nav-item(href="#pricing") Стоимость
					a.nav-item(href="#learn") Как проходит
					a.nav-item(href="#testimonials") Отзывы
				.header-contact
					a.header-phone.button-thirdly(href="tel:+78006000190" end="600-01-90") #{phone}
					button.button-primary.button__callback Заказать звонок


		section.hero-wrapper
			.hero.container
				img.hero__character-left(src="./img/hero/nastya.png", alt="")
				img.hero__character-mobile.only-mobile(src="./img/hero/mobile-hero.png", alt="")
				.hero-offer
					p.hero__prephrase От создателей<br class="only-mobile"> «Ядерного Чемоданчика»
					h1.section__title.hero__title Перестань чувствовать себя<br class="only-desktop"> маркетологом-самозванцем
					p.hero__subtitle 
						span.text__golden.hero__tooltip(data-tooltip="2,2 раза — средняя статистика среди выпускников программы") и увеличь свой доход в
							span.text__bold-underline  2,2 раза
						span.hero__date до
							time.hero__deadline 
						span с помощью стратегического маркетинга

					p.hero__caption *Программа соответствует гос.профстандарту профессии<br class="only-desktop"> маркетолог по уровням квалификации 6 и 7.
					button.button-primary.hero-button Забронировать место
				.hero-bullets
					.hero-warranty
						img.hero-warranty__img(src="./img/hero/warranty.png", alt="")
						p.hero__bullet-text Окупишь обучение, изучив 35 из 95 часов<br class="only-desktop">программы, или мы вернём деньги!
					.hero-diploma
						img.hero-diploma__img(src="./img/hero/diploma.png", alt="")
						p.hero__bullet-text Диплом государственного образца
				img.hero__character-right(src="./img/hero/egor.png", alt="")




		section.syndrome-wrapper
			h2.section__title.syndrome__title Синдром самозванца, как он есть
			.syndrome.container
				img.syndrome__img(src="./img/syndrome/syndrome.png", alt="")
				.swiper-container.syndrome-slider
					.swiper-wrapper
						
						.swiper-slide.syndrome-slide
							h3.syndrome-slide__title Не уверен в себе
							ul.syndrome-slide-list
								li.syndrome-slide__item Страшно продавать.
								li.syndrome-slide__item Страшно искать клиентов.
								li.syndrome-slide__item Страшно повышать чеки.
								li.syndrome-slide__item Вдруг я возьму деньги и<br>подведу заказчика?
								li.syndrome-slide__item Вдруг у него нет денег, чтобы заплатить мне больше? У него же дети, семья...
						.swiper-slide.syndrome-slide
							h3.syndrome-slide__title Прокрастинирую
							ul.syndrome-slide-list
								li.syndrome-slide__item Не могу начать действовать.
								li.syndrome-slide__item Сижу над постом, майнд-картой, креативами, воронками и<br>тупо не могу начать.
								li.syndrome-slide__item Просыпаюсь, и думаю над тем что предстоит.
								li.syndrome-slide__item В итоге весь день откладываю и обещаю, что завтра будет иначе.
						.swiper-slide.syndrome-slide
							h3.syndrome-slide__title Не кайфую
							ul.syndrome-slide-list
								li.syndrome-slide__item Обложиться работой, чтобы чувствовать себя важным, публиковать посты, какой ты занятой — это да.
								li.syndrome-slide__item Но … заказчик давит дедлайнами, не понимает за что платит,<br>лезет со своими правками и<br>комментариями, не хочет<br>делать то, что я предлагаю, а в итоге винит меня.
								li.syndrome-slide__item Работаю 24/7, и не расту пропорционально в деньгах.
						.swiper-slide.syndrome-slide
							h3.syndrome-slide__title Выгораю
							ul.syndrome-slide-list
								li.syndrome-slide__item Не получил результатов = разочаровался = не могу действовать.
								li.syndrome-slide__item Устаю. Просыпаюсь = уже устал.
					.swiper-button-prev.syndrome-button-prev
					.swiper-button-next.syndrome-button-next



		section.bad-marketing-wrapper
			h2.section__title.bad-marketing__title Знаешь, в чём дело?...<br class="no-desktop">Ты просто используешь<br class="only-mobile"> не тот маркетинг!
			.container.bad-marketing
				.bad-marketing-character
					p.bad-marketing-character__text.text__italic Василий Петров,
						span.bad-marketing-character__spec
					img.bad-marketing__img(src="img/bad-marketing/bad-marketing-pic.png", alt="")
				.bad-marketing-text
					p.only-desktop Пока что уровень индустрии маркетинга — это что-то типа:<br>сделать таргет, написать тексты, запилить сайт, запустить контекст...
					p.only-mobile.bad-marketing-text__par Пока что уровень индустрии маркетинга — это что-то типа:
					p.only-mobile сделать таргет, написать тексты, запилить сайт, запустить контекст...
					p.bad-marketing-text__em
						span.text__golden Изучи стратегический маркетинг:
						span  <br class="only-tablet">от анализа целевой аудитории<br class="only-tablet">до подбора команды
					p Заведи знакомства с опытными коллегами маркетологами
					p Автоматизируй и шаблонизируй рабочий процесс
					p Научись поддерживать ресурсное состояние
					p Обеспечь себя проектами с договорами от 3-х месяцев 
					h3.text__golden.bad-marketing-text__cta Изменить ситуацию возможно в вшм





		section.look-wrapper
			.look-wood.look-wood--top
				.look-wood-small
					//- img.look-wood-word.look-wood-word--top(src="./img/look/vasya-loh.png", alt="")
					.look-wood-word.look-wood-word--top
				img.look__machine--top.look__machine(src="./img/look/machine.png", alt="Шлифмашинка")
			.container.look
				h2.section__title.look__title Смотри, как всё может быть!
				.before-after-slider
					.before-after-slider__controller
					.before-section
						.before-item-wrapper
							.before-after-slide-inner
								.look-after-text
									h3.look-slide__title Твоя жизнь
										span.text__golden  после ВШМ
									ul.look-list.look-list--after
										li.look-list__item.look-list__item--after Высокие чеки, хозяин своего времени
										li.look-list__item.look-list__item--after.look-list__item--bigger-margin Запускаешь комплексные проекты
										li.look-list__item.look-list__item--after Уверен в себе, пользуешься репутацией<br>эксперта
										li.look-list__item.look-list__item--after Клиенты сами выходят на тебя
										li.look-list__item.look-list__item--after Есть свободное время тратить<br>заработанные деньги
								.has-popup.look-img.look-img--good
									button.pop-trigger.pop-trigger--ilnaz
										span.pop-circle-1
										span.pop-circle-2
										span.pop-circle-3
										span.pop-hover-glower
									img.look__img.look__img--good(src="./img/look/ilnaz.png", alt="")

					.after-section
						.after-item-wrapper
							.before-after-slide-inner
								img.look__img.look__img-bad(src="./img/look/sad.png", alt="")
								.look-before-text
									h3.look-slide__title Твоя жизнь до ВШМ
									ul.look-list.look-list--before
										li.look-list__item.look-list__item--before Пашешь 24/7 за копейки
										li.look-list__item.look-list__item--before Продаёшь одну-две услуги, в которых<br>разбираешься сам
										li.look-list__item.look-list__item--before.look-list__item--bigger-margin Допекает синдром самозванца
										li.look-list__item.look-list__item--before Постоянно ищешь клиентов
										li.look-list__item.look-list__item--before Времени и сил не остаётся даже на себя
			.look-wood.look-wood--bottom
				.look-wood-small
					.look-wood-word.look-wood-word--bottom
					//- img.look-wood-word.look-wood-word--bottom(src="./img/look/vasya-loh.png", alt="")
				img.look__machine--bottom.look__machine(src="./img/look/machine.png", alt="Шлифмашинка")




		section.about-wrapper
			.container.about
				h2.section__title.about__title Как-то красиво всё выглядит...<br class="no-desktop">что вообще за ВШМ?
				p.about-descr
					span.text__golden.text__bold ВШМ
					span  — это не онлайн-школа или университет,<br class="only-desktop"> не очередной курс<br class="only-desktop">по профессия в интернете.
					span <br> И даже не обычный клуб по подписке.
				.about-features
					.about-features-wrap--single
						button.about-features__item.about-features__item--learn
							img.about-features__icon(src="./img/about/1.png", alt="")
							span.about-features__text Обучающая программа

					.about-features-wrap.about-features-wrap-1
						button.about-features__item.about-features__item--combos
							img.about-features__icon(src="./img/about/2.png", alt="")
							span.about-features__text Библиотека связок
						button.about-features__item.about-features__item--projects
							img.about-features__icon(src="./img/about/3.png", alt="")
							span.about-features__text Биржа проектов

					.about-features-wrap.about-features-wrap-2
						button.about-features__item.about-features__item--chats
							img.about-features__icon(src="./img/about/4.png", alt="")
							span.about-features__text Система чатов
						button.about-features__item.about-features__item--database
							img.about-features__icon(src="./img/about/5.png", alt="")
							span.about-features__text Пополняемая
							span.about-features__text база знаний

					.about-features-wrap.about-features-wrap-3
						button.about-features__item.about-features__item--classes
							img.about-features__icon(src="./img/about/6.png", alt="")
							span.about-features__text Виртуальные<br>классы
						button.about-features__item.about-features__item--giving
							img.about-features__icon(src="./img/about/7.png", alt="")
							span.about-features__text Набор раздаток

					.about-features-wrap.about-features-wrap-4
						button.about-features__item.about-features__item--meetups
							img.about-features__icon(src="./img/about/8.png", alt="")
							span.about-features__text Регулярные<br>видеоконференции
						button.about-features__item.about-features__item--buddying
							img.about-features__icon(src="./img/about/9.png", alt="")
							span.about-features__text Buddying

					.about-features-wrap--single
						button.about-features__item.about-features__item--psycho
							img.about-features__icon(src="./img/about/10.png", alt="")
							span.about-features__text Штатный психолог
				.about-description
					.about-circles
						span.about-circle-1.about-circle
							span.about-circle-2.about-circle
								span.about-circle-3.about-circle
									span.about-circle-4.about-circle
										span.about-circle-5.about-circle
											span.about-circle-6.about-circle
						h3.about__description
							span.text__golden.text__bold.about__name Высшая Школа Маркетинга
							span.about__name  —<br>
							span это экосистема для маркетологов<br>со своими сервисами...
				.has-popup.about-img
					button.pop-trigger.pop-trigger--nastya
						span.pop-circle-1
						span.pop-circle-2
						span.pop-circle-3
						span.pop-hover-glower
					img.about__img(src="./img/about/about-nastya.png", alt="")





		section.base-wrapper
			h2.section__title.base__title В основе обучения — 
				button.text__silver.title__button.button__elective электив
				span  <br class="only-mobile">«
				button.text__golden.title__button.button__nuclear Ядерный Чемоданчик
				span »
			h3.section__subtitle.base__subtitle Сначала ты проходишь<br class="only-mobile">бонусные курсы...
			.base.container
				.has-popup.base-img
					button.pop-trigger.pop-trigger--egor
						span.pop-circle-1
						span.pop-circle-2
						span.pop-circle-3
						span.pop-hover-glower
						span.pop-circle-1
						span.pop-circle-2
						span.pop-circle-3
						span.pop-hover-glower
					img.base__img(src="./img/base/egor.png", alt="")
					.base-circles
						span.base-circle-1.base-circle
							span.base-circle-2.base-circle
								span.base-circle-3.base-circle
									span.base-circle-4.base-circle
										span.base-circle-5.base-circle
											span.base-circle-6.base-circle
				.base-slider-1-wrapper
					h4.base-slider__title.text__golden ... «Чистилище»

					.base-slider-1.swiper-container
						.swiper-wrapper
							.swiper-slide.base-slide
								.base-slide-content
									h5.base-slide__title Что узнаешь:<br>Как здесь всё работает:
									p.base-slide__item — про то, где проходит обучение
									p.base-slide__item — про дедлайны и стоп-уроки
									p.base-slide__item — про место сдачи ДЗ
									p.base-slide__item — про связь с куратором и техподдержкой
									p.base-slide__item — про общий чат и нишевые чаты на дискорде

							.swiper-slide.base-slide
								.base-slide-content
									h5.base-slide__title Правильное планирование дня и доступы к сервисам ВШМ. 
									p.base-slide__item — про экосистему чатов и доски для планирования в Миро.
									p.base-slide__item — про организацию и психологическую подготовку к работе на удаленке. 
									p.base-slide__item — про то, как всегда быть в ресурсе и избавиться от синдрома самозванца

							.swiper-slide.base-slide
								.base-slide-content
									h5.base-slide__title Как и зачем делать курсовой проект.
									p.base-slide__item про то, как работать с заказчиком так, чтобы после окончания курса у тебя был красивый и результативный кейс. И даже не один.

							.swiper-slide.base-slide
								.base-slide-content
									h5.base-slide__title Как укоротить путь к цели
									p.base-slide__item — про инструкции по прохождению курса
									p.base-slide__item — про самый короткий путь к достижению твоей цели.
									p.base-slide__item — 5 практических советов, как перестать просматривать любое обучение, как сериал, а сделать все уроки действительно полезными для тебя.

							.swiper-slide.base-slide
								.base-slide-content
									h5.base-slide__title Финансы маркетолога
									p.base-slide__item — про то, чем важно владеть маркетологу, чтобы делать 50к, 100к, 200к и выше. 
									p.base-slide__item — про то, как разобраться с учетом своих доходов и расходов, 
									p.base-slide__item — про инструменты для инвестирования.

							.swiper-slide.base-slide
								.base-slide-content
									h5.base-slide__title Миссия и цели маркетолога
									p.base-slide__item — про то,  зачем вообще нужна миссия, чем полезен маркетолог миру. 
									p.base-slide__item — про то,  зачем нужны цели
									p.base-slide__item — про то, какие цели бывают
									p.base-slide__item — про то, как поставить цель
									p.base-slide__item — про то, как планировать, чтобы достигать целей

						.swiper-button-prev.base-1-button-prev
						.swiper-button-next.base-1-button-next


				.base-slider-2-wrapper
					h4.base-slider__title.text__golden ... и «Первые деньги»
					.base-slider-2.swiper-container
						.swiper-wrapper

							.swiper-slide.base-slide
								.base-slide-content
									h5.base-slide__title Урок 1: Введение в профессию.<br>Главные навыки интернет-маркетолога.
									p.base-slide__item — ТОП-3 профессии, в которых можно стартануть за 1–2 недели и заработать первые деньги. 
									p.base-slide__item — Простой способ найти клиента. 
									p.base-slide__item — ТОП-4 профессий, в которых можно заработать до 500 000р.
									.base-slide-result
										h6.base-slide-result__title Результат:
										p.base-slide-result__text узнаешь, какие профессии принесут тебе первые деньги, а какие позволят заработать до 500 000 руб. Освоишь первый способ найти клиента.

							.swiper-slide.base-slide
								.base-slide-content
									h5.base-slide__title Урок 2: Экспресс-анализ ЦА. 
									p.base-slide__item — Первый ключевой навык маркетолога.
									p.base-slide__item — Экспресс-анализ целевой аудитории на реальных примерах.
									p.base-slide__item — Исследование целевой аудитории даже с телефона.
									p.base-slide__item — Еще один способ найти первого клиента
									.base-slide-result
										h6.base-slide-result__title Результат:
										p.base-slide-result__text познакомишься с самым важным навыком маркетологов
										p.base-slide-result__text научишься делать экспресс-анализ ЦА 
										p.base-slide-result__text освоишь второй способ найти клиента

							.swiper-slide.base-slide
								.base-slide-content
									h5.base-slide__title Урок 3: Чем зацепить ЦА? 
									p.base-slide__item — Что такое триггеры?
									p.base-slide__item — ТОП-3 самых простых и эффективных триггера. Как сделать, чтобы твои тексты целевая аудитория дочитывала до конца и просила еще.
									p.base-slide__item — Ну и еще один способ найти клиента
									.base-slide-result
										h6.base-slide-result__title Результат:
										p.base-slide-result__text узнаешь, что такое триггеры
										p.base-slide-result__text научишься применять три триггера в своих текстах
										p.base-slide-result__text освоишь третий способ поиска клиента

							.swiper-slide.base-slide
								.base-slide-content
									h5.base-slide__title Урок 4: Введение в профессию. 
									p.base-slide__item — Второй ключевой навык маркетолога — копирайтинг
									p.base-slide__item — Авторская формула продающего поста 
									p.base-slide__item — Готовый шаблон эффективного продающего поста 
									p.base-slide__item — Пошаговая инструкция, как сделать красивые картинки для постов с телефона.
									.base-slide-result
										h6.base-slide-result__title Результат:
										p.base-slide-result__text познакомишься со вторым ключевым навыком маркетолога
										p.base-slide-result__text получишь готовый шаблон продающего текста

						.swiper-button-prev.base-2-button-prev
						.swiper-button-next.base-2-button-next












		section.programm-wrapper#programm
			h2.section__title.programm__title Основной курс —<br class="only-mobile">
				|  3
				button.text__silver.title__button  драга 
				|  13
				button.text__golden.title__button  раундов

			.programm-drag-wrapper.programm-drag-wrapper-1
				.container
					.programm-drag.programm-drag-1
						.programm-certificates
							p.text__italic.text__golden.programm__text--certificate.programm-certificates__text За каждый раунд ты получаешь<br class="no-desktop">скилл-карточку.
							p.text__italic.programm-certificates__text Скилл-карточка, подтверждает, что ты освоил(а) очередной навык маркетолога.
							img.programm__skillcard-pic(src="./img/programm/programm-cards.png", alt="")
							p.text__italic.programm-certificates__text Соберёшь все скилл-карточки драга и получишь квалификационный сертификат<br class="no-desktop">первого уровня.
							img.programm__certificate-pic(src="./img/programm/programm-certificate.png", alt="")
						.programm-about
							h3.programm-about__title
								span.text__golden Драг 1:
								span МАРКЕТИНГОВАЯ СТРАТЕГИЯ.
							h4.programm__subtitle Этот драг состоит из 4 раундов:
							p.programm__content — Раунд 1: маркетинговая база
							p.programm__content — Раунд 2: нейромаркетинг
							p.programm__content — Раунд 3: упаковка
							p.programm__content — Раунд 4: копирайтинг
							button.button-thirdly.text__italic.button-drag-more.button-drag-more-1 Подробнее о драге 1 
							a.button-primary.button-drag-1.only-desktop(href=`${demo}` target="_blank") Получить пробный бесплатный доступ
						.has-popup.drag-img
							button.pop-trigger.pop-trigger--mikhail
								span.pop-circle-1
								span.pop-circle-2
								span.pop-circle-3
								span.pop-hover-glower
							img.drag__img.img__mikhail(src="./img/programm/michail.png", alt="")
						a.button-primary.button-drag-1.no-desktop(href=`${demo}` target="_blank") Получить пробный бесплатный доступ


			.programm-drag-wrapper.programm-drag-wrapper-2
				.container
					.programm-drag.programm-drag-2
						.has-popup.drag-img
							button.pop-trigger.pop-trigger--dim
								span.pop-circle-1
								span.pop-circle-2
								span.pop-circle-3
								span.pop-hover-glower
							img.drag__img.img__dim(src="./img/programm/dim.png", alt="")
						.programm-about
							h3.programm-about__title
								span.text__golden Драг 2:
								span ИНСТРУМЕНТЫ МАРКЕТОЛОГА
							h4.programm__subtitle Этот драг состоит из 4 раундов + дополнительный мини-курс по дизайну сообществ ВК:
							p.programm__content — Раунд 5: стратегии продаж и лидогенерации. Манимейкинг.
							p.programm__content — Раунд 4: копирайтинг<br>часть 1: Вконтактер.
							p.programm__content — Раунд 7: реклама и рекламные инструменты,<br>часть 2: Инстаграмер.
							p.programm__content — Раунд 8: реклама и рекламные инструменты,<br>часть 3: Экспресс-лигденщик и ОКер.
							button.button-thirdly.text__italic.button-drag-more.button-drag-more-2 Подробнее о драге 2 
						.programm-certificates
							p.text__italic.text__right 4 скилл-карточки на драг.
							img.programm__skillcard-pic(src="./img/programm/programm-cards.png", alt="")
							p.text__italic.text__right Квалификационный сертификат<br>второго уровня.
							img.programm__certificate-pic(src="./img/programm/certificate-2.png", alt="")

			.programm-drag-wrapper.programm-drag-wrapper-3
				.container
					.programm-drag.programm-drag-3
						.programm-certificates
							p.text__italic 4 скилл-карточки на драг.
							img.programm__skillcard-pic(src="./img/programm/programm-cards.png", alt="")
							p.text__italic Квалификационный сертификат<br>третьего уровня.
							img.programm__certificate-pic(src="./img/programm/certificate-3.png", alt="")
						.programm-about
							h3.programm-about__title
								span.text__golden Драг 3
								span ДЕЛЕГИРОВАНИЕ и АВТОМАТИЗАЦИЯ МАРКЕТИНГОВЫХ ПРОЦЕССОВ. 
							h4.programm__subtitle Этот драг состоит из 4 раундов:
							p.programm__content — Раунд 9: конвертация заявок в деньги. Продажи.
							p.programm__content — Раунд 10: автоворонки.
							p.programm__content — Раунд 11: оффлайн и онлайн запуски.
							p.programm__content — Раунд12: масштабирование маркетинга. 
							button.button-thirdly.text__italic.button-drag-more.button-drag-more-3 Подробнее о драге 3 
						.has-popup.drag-img
							button.pop-trigger.pop-trigger--nikolai
								span.pop-circle-1
								span.pop-circle-2
								span.pop-circle-3
								span.pop-hover-glower
							img.drag__img(src="./img/programm/nikolai.png", alt="")

			.programm-drag-wrapper.programm-drag-wrapper-4
				.container.programm-drag--4-container
					.programm-drag.programm-drag-4
						.programm-certificates
							p.text__italic Получишь сертификат ВШМ
							img.programm__certificate-pic(src="./img/programm/certificate-4.png", alt="")
							p.text__italic По запросу, получишь диплом<br class="no-desktop"> государственного образца по<br class="no-desktop"> квалификации «Маркетолог».
							img.programm__certificate-pic(src="./img/hero/diploma.png", alt="")
						.programm-about
							h3.programm-about__title
								span.text__golden БОНУСНЫЙ РАУНД 13:
								span  ФИШКИ и СЕКРЕТНЫЕ СЕКРЕТЫ 
							h4.programm__subtitle Эти фишки по маркетингу собирались <br class="no-desktop">несколько лет. 
							p.programm__content Здесь ты узнаешь 3 способа запустить сарафанку,<br class="only-tablet"> как активировать триггер «инсайдинг» и хайпануть на <br class="only-tablet">нём, как раскочегарить активность у поста...<br class="no-desktop">  И это только малая часть, фишек будет столько,<br class="only-tablet"> что трудно унести.
							p.programm__content.text__golden.text__bold.programm__bonus И дополнительный бонус: 
							p.programm__content.text__bold бекстейдж Ядерного Чемоданчика
						.drag-result
							h4.programm__subtitle.text__golden.drag-result__title Результат:
							p.programm__content-result у тебя на руках реально редкая информация, которую все просят, но которой делиться очень не хочется.
							p.programm__content-result Фишки, которые в проработанной стратегии, давали плюсом сотни тысяч рублей к продажам.
							img.drag__img.img__case(src="./img/programm/case.png", alt="")



		section.learn-wrapper#learn
			.container.learn
				+learnFaqButtons({className: 'only-desktop'})
				.learn-text
					h2.section__title.learn-text__title Смотри, как ты будешь учиться:
					p.learn-text__bullet.text__bold
						span.text__golden — Эффективность программы подтверждена 
							span.pupils  858
							span <br>учениками
						span , за счёт британской методики<br>выращивания профессионалов “Buddying”
					p.learn-text__bullet — Курс построен на опыте
						span.text__extrabold  205
						|  реальных проектов с<br class="only-tablet">учётом трендов на ближайшие
						span.text__extrabold  5 лет
						| . Включает<br class="only-tablet">бонусы
						span.text__extrabold  от 10 лидеров маркетинга
						|, чей суммарный<br class="only-tablet">месячный доход составляет
						span.text__extrabold  50 млн рублей
						| . 
					+learnFaqButtons({className: 'no-desktop'})
					h3.section__subtitle.learn-text__subtitle Хочешь пообщаться с<br>консультирующим<br>маркетологом?
					p.learn-text__bullet.only-desktop Записывайся на индивидуальную консультацию к Богдану<br>Барбашову и узнай, какие быстрые результаты реально<br>получить по твоему проекту прямо сейчас!
					button.button-primary.button__consult.only-desktop Получить консультацию

				.has-popup.drag-img.img-bogdan
					button.pop-trigger.pop-trigger--bogdan
						span.pop-circle-1
						span.pop-circle-2
						span.pop-circle-3
						span.pop-hover-glower
					img.drag__img.img__bogdan(src="./img/learn/bogdan.png", alt="")
				p.learn-text__bullet.no-desktop Записывайся на индивидуальную консультацию к Богдану<br class="no-mobile">Барбашову и узнай, какие быстрые результаты реально<br class="no-mobile">получить по твоему проекту прямо сейчас!
				button.button-primary.button__consult.no-desktop Получить консультацию







		section.get-wrapper
			.container.get
				h2.section__title.get__title Что ты получаешь в ВШМ
				.get-features
					.get-features-item.get-features-item-first.js-get-features-item--1.active
						img.get-features__img(src="./img/get/1.png", alt="")
						p.get-features__text Биржа проектов, чтобы взять в работу или отдать лишний

					.get-features-wrapper.get-features-wrapper-1
						.get-features-item.js-get-features-item--2.active
							img.get-features__img(src="./img/get/2.png", alt="")
							p.get-features__text Система чатов чтобы найти проект или<br>посоветоваться 
						.get-features-item.js-get-features-item--3.active
							img.get-features__img(src="./img/get/3.png", alt="")
							p.get-features__text Сотрудничество с<br>опытным маркетологом

					.get-features-wrapper.get-features-wrapper-2
						.get-features-item.js-get-features-item--4.active
							img.get-features__img(src="./img/get/4.png", alt="")
							p.get-features__text Библиотека связок,<br>чтобы не изобретать велосипед
						.get-features-item.js-get-features-item--5.active
							img.get-features__img(src="./img/get/5.png", alt="")
							p.get-features__text База фишек и шаблонов для автоматизации

					.get-features-wrapper.get-features-wrapper-3
						.get-features-item.js-get-features-item--6.active
							img.get-features__img(src="./img/get/6.png", alt="")
							p.get-features__text Сопровождения психолога, который разбирается<br class="no-desktop"> в маркетинге
						.get-features-item.js-get-features-item--7.active
							img.get-features__img(src="./img/get/7.png", alt="")
							p.get-features__text Виртуальный класс для комфортной работы

					.get-features-item.get-features-item-last.js-get-features-item--8.active
						img.get-features__img(src="./img/get/8.png", alt="")
						p.get-features__text.text__extrabold +20 бонусных уроков от мега-экспертов рунета


					.get-decor
						img.get-logo(src="./img/get/get-logo.png", alt="")
						img.get-circle.get-circle--mobile(src="./img/get/mobile-get-circle.png", alt="")
						img.get-circle.get-circle--regular(src="./img/get/get-circles.png", alt="")







		section.testimonials-wrapper
			.container.testimonials
				h2.section__title.testimonials__title#testimonials Что изменилось у тех, кто уже в ВШМ:
				.testimonials-stats 
					p.testimonials-stats__item
						span.text__golden Доход
						|  вырос
						span.text__golden  в
							span.text__bold  2-3 
							|  раза

					p.testimonials-stats__item.testimonials-stats__item--bg
						span.text__golden Доход
						|  более
						span.text__bold  100 000 
						|  руб
						span.text__golden  в месяц у
							span.text__bold  30%
							|  учащихся

					p.testimonials-stats__item
						span.text__golden Режим работы —
							span.text__bold  6,5
							|  часов
						|  в день
				.testimonials-list
					div.testimonials-item
						img.testimonials__img(src="./img/testimonials/testimonials-1.png", alt="")
						h3.testimonials__name Ольга Кувикова
						p.testimonials__text Доход был 30к<br>Сейчас уже <del>88-128к</del><br>Более 200к
						button.button-thirdly.testimonials__more.testimonials-more-1 Смотреть отзыв
						.pop-testimonials-1.pop-testimonials
							p
								strong Имя: Ольга Кувикова
							p
								strong Ссылка на VK: vk.com/olga.kuvikova
							p
								strong Возраст: 28 лет

							p Давай-ка сразу к сути! Тебе же интересно, как можно прокачать свой доход?
							p Тогда погнали!
							p Лучшие результаты после «Ядерного Чемоданчика»:
							p — доход был 30 000, а стал 88 000- 120 000. Так он ещё и с каждым месяцем растёт
							p — во время короны доходы у всех (почти) просели, а у меня выросли на 266%!!! по сравнению с январём 2020
							p — впервые за последние 3 года съездила в отпуск
							p А теперь садись поудобнее. Тебя ждет интересная история.
							p А все началось с того, что моя коллега Настя пытала наших учеников (нет, не каленым железом, хотя она может), а пачкой вопрос. Так что лови интервью. Может, однажды мы такое запишем и с тобой
							p Как давно ты в маркетинге? С чего начинался твой путь?
							p Мой путь в мир маркетинга начался 3 года назад.
							p Начинался он с того, что я пришла с необходимостью развития и продвижения своей мастерской. Вот ссылочка vk.com/arhkozha , вдруг интересно :)
							p Я долго и упорно познавала азы маркетинга и как-то так получилось, что я начала проводить консультации владельцам бизнеса по продажам в соц.сетях.
							p Правда максимум, что у меня было с этого, это + 20к в месяц.
							p С чем пришла? Какая у тебя была точка А? Какие были проблемы, задачи и тд. до обучения в «Ядерном Чемоданчике»? Какую цель ставила себе для прохождения обучения в «Ядерном Чемоданчике» (далее ЯЧ)?
							p Пришла с целью построения системы. Или полной маркетинговой картины…
							p В общем, знания были, их было много. Но они были неполные… можно сказать, что обрывками какими-то. Вот я и хотела эти обрывки связать и по максимуму дополнить.
							p Хотелось увеличить свои продажи в мастерской и придать им какую-то стабильность. До прихода в ЯЧ они тоже были, но то шатко, то валко.
							p Плюс, хотелось улучшить качество предоставляемых консультаций.
							p Вспомни истории, которые происходили с тобой до обучения. Какой была твоя жизнь? С кем общалась? где жила? как проводила свободное время? Что изменилось после?
							p Ой, честно говоря и вспоминать не хочется…
							p Работала по найму, руководителем...с зарплатой в 30к!
							p Прямо перед обучением в ЯЧ, я твёрдо для себя решила в найм не возвращаться! НИКОГДА!


							p Я решила зарабатывать на своих консультациях, давая пользу клиентам. До прихода в ЯЧ доход был 30к (это январь был). Сейчас у меня 88 - 128 к в месяц получается. И я точно уверена, что выйду к концу года на 300к в месяц! Без вариантов!

							p Тут понимаешь в чём дело, я попала в ЯЧ и жизнь изменилась! Как, почему? Я абсолютно уверена в завтрашнем дне! Сама управляю потоком клиентов! Да ё маё! Я просто кайфую от того, что делаю и продолжаю развиваться в этом направлении!

							p Какой путь ты прошла во время обучения? Какие проблемы в твоем проекте помог решить тебе ЯЧ? Как быстро ты смогла получить первые результаты?
							p Больше всего меня поразила информация о лестнице Ханта, о триггерах..
							p О том, как с помощью текста воздействовать на людей…
							p Сначала, первые посты мне приносили по 20 к, а сейчас по 88-120 ежемесячно!
							p Запускаю онлайн курс и эти знания мне ох как пригодились! Создала свой сайт kuvikova.com/coach, по вашим рекомендациям добавила на него квиз.

							p У меня появилась воронка продаж. Знаю, как вести клиента от момента, когда он про меня узнал и до момента покупки.

							p О, а ещё я впервые за последние 3 года съездила в отпуск! Это был прям кайф!
							p Какие фишки из Ядерного Чемоданчика ты использовала и что применила в своем проекте? у клиента? Какие результаты получила?
							p Оу...да все наверное. Но особенно выделить хочу :

							p — Техники про триггеры
							p — Блок копирайтинга - весь!
							p — Квиз
							p — Оформление личной страницы
							p Какой результат в итоге (точка Б). Как увеличился твой доход? средний чек? кол-во заявок? клиентов? Какие новые навыки маркетолога прокачала с нуля, а какие усилила?
							p Ну как, доход был 30 000, а стал 88 000- 120 000. Так он ещё и с каждым месяцем растёт! Плюс, вместо одноразовых консультаций, я стала продавать коучинг на 2 месяца!
							p Усилила копирайтинг. С самого нуля узнала про нейромаркетинг!
							p Мне мой результат прям нравится! А самое крутое, что я лично на него влияю и могу управлять всеми процессами!
							p Какие у тебя были эмоции во время прохождения курса? Что особенно повлияло на тебя и твои результаты? Как ты чувствуешь себя после обучения?
							p ВОСТОРГ УДИВЛЕНИЕ ВОСХИЩЕНИЕ!!!
							p Такое ощущение, словно я узнала какую-то сакральную тайну, которая не доступна остальным! Я чувствую себя сейчас гораздо увереннее и спокойнее! Даже если не возьмёте как кейс, хочу сказать вашей команде огромное спасибо за бомбовый курс!
							p (примечание от Команды Сумасшедшего: возьмем, еще как возьмем :) )
							p У меня в универе был маркетинг, но это было ппц как скучно и не интересно! А тут сразу столько мыслей и идей…...ух!
							p Ах, да, забыла добавить. Я ведь всего лишь мама в декрете с маленьким ребенком, которую особо не ждут обратно на работу :)
							p Да в общем-то и не нужно с таким багажом знаний. В моем городе ко мне очередь клиентов, конкурентов вообще не ощущаю.

					div.testimonials-item
						img.testimonials__img(src="./img/testimonials/testimonials-2.png", alt="")
						h3.testimonials__name Дмитрий Рязанов
						p.testimonials__text После обучени з/п выросла в 2 раза и продолжает расти
						button.button-thirdly.testimonials__more.testimonials-more-2 Смотреть отзыв
						.pop-testimonials-2.pop-testimonials
							p
								strong Имя: Ольга Кувикова
							p
								strong Ссылка на VK: vk.com/olga.kuvikova
							p
								strong Возраст: 28 лет
							p Давай-ка сразу к сути! Тебе же интересно, как можно прокачать свой доход?

					div.testimonials-item
						img.testimonials__img(src="./img/testimonials/testimonials-3.png", alt="")
						h3.testimonials__name Дарина Терихова
						p.testimonials__text Обучаясь на очном зарабатываю 40к в<br>месяц в 19 лет
						button.button-thirdly.testimonials__more.testimonials-more-3 Смотреть отзыв
						.pop-testimonials-3.pop-testimonials
							p
								strong Имя: Ольга Кувикова
							p
								strong Ссылка на VK: vk.com/olga.kuvikova
							p
								strong Возраст: 28 лет
							p Давай-ка сразу к сути! Тебе же интересно, как можно прокачать свой доход?
					div.testimonials-item
						img.testimonials__img(src="./img/testimonials/testimonials-4.png", alt="")
						h3.testimonials__name Елена Алексеева
						p.testimonials__text Доход вырос из<br>50к в 150к<br> и это не предел
						button.button-thirdly.testimonials__more.testimonials-more-4 Смотреть отзыв
						.pop-testimonials-4.pop-testimonials
							p
								strong Имя: Ольга Кувикова
							p
								strong Ссылка на VK: vk.com/olga.kuvikova
							p
								strong Возраст: 28 лет
							p Давай-ка сразу к сути! Тебе же интересно, как можно прокачать свой доход?
					div.testimonials-item
						img.testimonials__img(src="./img/testimonials/testimonials-5.png", alt="")
						h3.testimonials__name Наталья Гордон
						p.testimonials__text После ЯЧ<br>работаю в<br>РосНано
						button.button-thirdly.testimonials__more.testimonials-more-5 Смотреть отзыв
						.pop-testimonials-5.pop-testimonials
							p
								strong Имя: Ольга Кувикова
							p
								strong Ссылка на VK: vk.com/olga.kuvikova
							p
								strong Возраст: 28 лет
							p Давай-ка сразу к сути! Тебе же интересно, как можно прокачать свой доход?
					div.testimonials-item
						img.testimonials__img(src="./img/testimonials/testimonials-6.png", alt="")
						h3.testimonials__name Родион Казанцев
						p.testimonials__text Вписался в движуху, конец декабря — закрыл 200к+, январь — 340к+
						button.button-thirdly.testimonials__more.testimonials-more-6 Смотреть отзыв
						.pop-testimonials-6.pop-testimonials
							p
								strong Имя: Ольга Кувикова
							p
								strong Ссылка на VK: vk.com/olga.kuvikova
							p
								strong Возраст: 28 лет
							p Давай-ка сразу к сути! Тебе же интересно, как можно прокачать свой доход?
					div.testimonials-item
						img.testimonials__img(src="./img/testimonials/testimonials-7.png", alt="")
						h3.testimonials__name Натали Жагуло 
						p.testimonials__text До цели в 200к осталось 3,5 тысячи и<br>2 дня
						button.button-thirdly.testimonials__more.testimonials-more-7 Смотреть отзыв
						.pop-testimonials-7.pop-testimonials
							p
								strong Имя: Ольга Кувикова
							p
								strong Ссылка на VK: vk.com/olga.kuvikova
							p
								strong Возраст: 28 лет
							p Давай-ка сразу к сути! Тебе же интересно, как можно прокачать свой доход?
					div.testimonials-item
						img.testimonials__img(src="./img/testimonials/testimonials-8.png", alt="")
						h3.testimonials__name Андрей Петров
						p.testimonials__text До обучения пахал на заводе. Сейчас доход уже превысил З/П
						button.button-thirdly.testimonials__more.testimonials-more-8 Смотреть отзыв
						.pop-testimonials-8.pop-testimonials
							p
								strong Имя: Ольга Кувикова
							p
								strong Ссылка на VK: vk.com/olga.kuvikova
							p
								strong Возраст: 28 лет
							p Давай-ка сразу к сути! Тебе же интересно, как можно прокачать свой доход?

		a.button-primary.testimonials-all-cases(href=`${buttonTestimonials}` target="_blank") показать ещё кейсы



		section.partners-wrapper
			.container.partners
				h2.section__title.partners__title 
					span.text__golden А вот с кем они
					span  работают сейчас:

				.partners-list
					.partner-item 
						img.partner__img(src="./img/partners/partners-bm.png", alt="")
					.partner-item 
						img.partner__img(src="./img/partners/partners-audi.png", alt="")
					.partner-item 
						img.partner__img(src="./img/partners/partners-tele2.png", alt="")
					.partner-item 
						img.partner__img.partner__img--renault(src="./img/partners/partners-renault.png", alt="")
					.partner-item 
						img.partner__img(src="./img/partners/partners-volvo.png", alt="")
					.partner-item 
						img.partner__img(src="./img/partners/partners-kirieshki.png", alt="")
					.partner-item 
						img.partner__img.partner__img--peugeot(src="./img/partners/partners-peugeot.jpg", alt="")
					.partner-item 
						img.partner__img(src="./img/partners/partners-ford.png", alt="")
					.partner-item 
						img.partner__img(src="./img/partners/partners-hackathon.png", alt="")
					h3.section__subtitle.partners__subtitle Наше агентство Dr. i-Bolit
						span.text__golden  стабильно предоставляет проекты
						| <br>выпускникам


		section.pricing-wrapper#pricing
			.container.pricing
				h2.section__title.pricing__title Как думаешь, сколько это стоит? 
				p.pricing__price 4 700 рублей/месяц
				p.pricing__descriptor Четыре тысячи семьсот рублей в месяц
				.pricing-scheme
					.pricing-in
						img.in__img(src="./img/scheme/scheme-in.png", alt="")
						p.pricing-action.pricing-action-in отдаешь ВШМ
					.pricing-card
						img.pricing__card(src="./img/scheme/sheme-card.png", alt="")
					.pricing-out
						img.pricing__out(src="./img/scheme/scheme-out.png", alt="")
						p.scheme__project.scheme__tag Проекты 
						p.scheme__skillup.scheme__tag Постоянная прокачка
						p.scheme__hacks.scheme__tag Рабочие фишки
						p.scheme__pro.scheme__tag Консультации профи
						p.scheme__tutorials.scheme__tag Инструкции
						p.scheme__checklists.scheme__tag Чек-личты
						p.scheme__mindmaps.scheme__tag Майнд-карты
						p.pricing-action.pricing-action-out
							span.pricing-action-out--color-mobile Получаешь
							span  от ВШМ
				a.button-primary.pricing-button(href=`${buttonPricing}` target="_blank") хочу в вшм





		section.team-wrapper
			.container
				h2.section__title.team__title Что делает команда<br class="no-desktop"> «Высшей Школы Маркетинга»<br class="no-desktop"> в полях?
				h3.section__subtitle.team__subtitle.text__golden За последние 2 года сделали в 205 проектах такие результаты
				.team
					.team-about
						ul.team-bullets
							li.team-bullet Привели 700+ гостей на открытие роллердрома<br class="only-desktop"> Омска и 17 138 624 рублей выручки за год с одного<br class="only-desktop"> филиала.
							li.team-bullet Заработали  977 500руб. выручки в автошколу, при<br>бюджете 65 320руб.
							li.team-bullet Увеличили месячный доход с 500 000руб. до<br>3 000 000руб. за 4 месяца в обучении массажистов.
							li.team-bullet Увеличили в 3 раза прибыль микро-бизнеса по<br>автоподбору за 1 год.
						button.team-thanks-button.only-desktop
							img.team-thanks-button__img(src="./img/team/team-thanks.png", alt="")
							span.button-thirdly Смотреть благодарности 
					.team-clients
						img.team__img(src="./img/team/team-pic.png", alt="")
						h3.team-clients__title Клиенты команды:
						div.team-client-list
							a.team-clients-item(href=`${yagla}` target="_blank")
								span.team-clients__logo-wrap
									img.team-clients__logo(src="./img/team/team-yagla.png", alt="Yagla")
								p Yagla

							a.team-clients-item(href=`${senler}` target="_blank")
								span.team-clients__logo-wrap
									img.team-clients__logo(src="./img/team/team-senler.png", alt="Senler ")
								p Senler 

							a.team-clients-item(href=`${kia}` target="_blank")
								span.team-clients__logo-wrap
									img.team-clients__logo(src="./img/team/team-kia.png", alt="KIA")
								p KIA

							a.team-clients-item(href=`${lenfilm}` target="_blank")
								span.team-clients__logo-wrap
									img.team-clients__logo(src="./img/team/team-lenfilm.png", alt="Ленфильм")
								p «Ленфильм»
						button.team-thanks-button.no-desktop
							img.team-thanks-button__img(src="./img/team/team-thanks.png", alt="")
							span.button-thirdly Смотреть благодарности 



		section.changes-wrapper
			.container.changes
				h2.section__title.changes__title Готов(а) к
					span.text__golden  изменениям<br class="no-desktop">
					span  прямо сегодня?
				p.section__subtitle.changes__subtitle Тогда вступай в ряды студентов «Высшей Школы Маркетинга»<br>и забирай один из подарков на выбор 
				.changes-course-list
					.changes-course
						h3.changes-course__title.text__golden Курс<br>«Картель Маркетологов»
						p Пошаговые уроки, как маркетологу за 1 день привлечь заказчиков, продать на высокие чеки и научиться 8 способами гарантировать результат в проекте

					.changes-course
						h3.changes-course__title.text__golden Курс<br>«Маркетинг в Кайф»
						p Пошаговые уроки, как прийти к партнёрскому маркетингу и научиться работать<br class="no-desktop"> с заказчиком за лиды или за %

				.changes-offer
					h3.changes-offer__title Внимание! Предложение актуально всего 10 часов
					a.button-primary.changes-offer__button(href=`${buttonLastForm}` target="_blank") Вступить в ВШМ
					p.changes-people
						span С нами уже
						span.changes-people__counter 956
						span человек




		.footer-wrapper
			footer.container.footer
				.footer-info
					a.footer-link(href=`${privacy}`) Политика конфиденциальности
					a.footer-link(href=`${license}`) Государственная лицензия
					p.footer__caption Вся предоставленная на сайте информация ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса РФ
				a(href=`${designerLink}`).designer
					img.designer__logo(src="./img/common/designer-logo.png", alt="")
					p.designer__name Design by Рома Король
				.footer-socials
					a.footer-socials-item(href=`${telegram}` target="_blank")
						+telegramIcon({
							color: '#dca067',
							className: 'footer-socials-item__icon footer-socials-item__icon--telegram'
						})
					a.footer-socials-item(href=`${tiktok}` target="_blank")
						+tiktokIcon({
							color: '#dca067',
							className: 'footer-socials-item__icon footer-socials-item__icon--tiktok'
						})
					a.footer-socials-item(href=`${vk}` target="_blank")
						+vkIcon({
							color: '#dca067',
							className: 'footer-socials-item__icon footer-socials-item__icon--vk'
						})
