.popups
	.burger-menu
		.burger-menu-links
			a.burger-menu-links__link(href="#programm")
				span.text__golden —
				span.burger-menu-links__text  Программа
			a.burger-menu-links__link(href="#pricing")
				span.text__golden —
				span.burger-menu-links__text  Стоимость
			a.burger-menu-links__link(href="#learning")
				span.text__golden —
				span.burger-menu-links__text  Как проходит
			a.burger-menu-links__link(href="#testimonials")
				span.text__golden —
				span.burger-menu-links__text  Отзывы
	.pop-book
		form.callback-form(method="POST")
			input(name="formname" hidden value="Забронировать место")
			label.input-wrapper
				p.pop__title.text__centered Привет, как тебя зовут?
				input(
					name="name"
					type="text"
					placeholder="Василий"
				required).input-regular
			label.input-wrapper.input-wrapper--phone
				p.pop__title.text__centered Как с тобой связаться?
				input(name="phone" 
				type="text"
				placeholder="Введи номер телефона"
				required).input-regular.input--phone
			.form-socials
				a(href=`${vk}` target="_blank").form-socials__item
					+vkIcon({className: 'form-socials__icon', color: '#fff'})
				a(href=`${telegram}` target="_blank").form-socials__item
					+telegramIconCircle({className: 'form-socials__icon', color: '#fff'})
			.input-wrapper
				button.button-primary.button-centered.book-form__button(type="submit") Забронировать место
			p.form-privacy Нажимая на кнопку, вы подтверждаете согласие на обработку<br>персональных данных и соглашаетесь с 
				button.button-thirdly.button-privacy(type="button") политикой конфиденциальности
	.main-callback-pop
		form.callback-form(method="POST")
			input(name="formname" hidden value="Заказать звонок")
			label.input-wrapper
				p.pop__title.text__centered Привет, как тебя зовут?
				input(
					name="name"
					type="text"
					placeholder="Василий"
				required).input-regular
			label.input-wrapper.input-wrapper--phone
				p.pop__title.text__centered Как с тобой связаться?
				input(name="phone" 
				type="text"
				placeholder="Введи номер телефона"
				required).input-regular.input--phone
			.form-socials
				a(href=`${vk}` target="_blank").form-socials__item
					+vkIcon({className: 'form-socials__icon', color: '#fff'})
				a(href=`${telegram}` target="_blank").form-socials__item
					+telegramIconCircle({className: 'form-socials__icon', color: '#fff'})
			.input-wrapper
				button.button-primary.button-centered.callback-form__button(type="submit") Заказать звонок
			p.form-privacy Нажимая на кнопку, вы подтверждаете согласие на обработку<br>персональных данных и соглашаетесь с 
				button.button-thirdly.button-privacy(type="button") политикой конфиденциальности
	.pop-consult
		form.callback-form(method="POST")
			input(name="formname" hidden value="Консультация")
			label.input-wrapper
				p.pop__title.text__centered Привет, как тебя зовут?
				input(
					name="name"
					type="text"
					placeholder="Василий"
				required).input-regular
			label.input-wrapper.input-wrapper--phone
				p.pop__title.text__centered Как с тобой связаться?
				input(name="phone" 
				type="text"
				placeholder="Введи номер телефона"
				required).input-regular.input--phone
			.form-socials
				a(href=`${vk}` target="_blank").form-socials__item
					+vkIcon({className: 'form-socials__icon', color: '#fff'})
				a(href=`${telegram}` target="_blank").form-socials__item
					+telegramIconCircle({className: 'form-socials__icon', color: '#fff'})
			.input-wrapper
				button.button-primary.button-centered.callback-form__button(type="submit") Получить консультацию
			p.form-privacy Нажимая на кнопку, вы подтверждаете согласие на обработку<br>персональных данных и соглашаетесь с 
				button.button-thirdly.button-privacy(type="button") политикой конфиденциальности


	.pop-ilnaz
		h3.pop__title Галеев Ильназ
		.pop-inner
			p.pop__text Освоено
				span.text__bold  154 тысячи
				span  рублей и приведено
				span.text__bold  2748
				span  регистраций по 56р за 8 дней в нише по заработку на арбитраже.
			p.pop__text
				span.text__bold За 4 месяца привели 16 371 подписчиков по 53 руб.
				span  Сумасшедшему. Освоено рекламного бюджета на
				span.text__bold  873 893
				span  рублей.
			p.pop__text 
				span.text__bold 1960
				span  подписчиков в нише ЕГЭ по 15 рублей.
			p.pop__text Приведено 120 заявок по 250 рублей в детскую нишу.
			p.pop__text Рекорды, сделанные благодаря полученным знаниям в ВШМ: 
			p.pop__text.text__golden.text__bold Освоил на рекламу более 3 млн рублей и привел 50 000 регистрации.



	.pop-nastya
		.pop-scrolling
			.pop-plus-left
				h3.pop__title Кирилова Анастасия
				p.pop__text.text__golden.text__bold Со-основатель и руководитель Высшей Школы Маркетинга, методолог онлайн-школы.
				p.pop__text
					span.text__bold Регалии в HR:<br>
					span Организовала:
					span.text__golden  VI Поволжский кадровый форум
				p.pop__text
					span.text__bold В обучении:<br>
					span В крупнейшем автохолдинге Самары:<br>— внедрила систему обучения продавцов<br>— 2 года вела продающие тренинги<br>— вывела 2 ДЦ-аутсайдера в 3 лидеров по качеству обслуживания клиентов<br>— подобрала и обучила с нуля всю команду вновь открывающегося ДЦ
				p.pop__text
					span.text__bold В маркетинге:<br>
					span — открытие салона и бара Харлей Дэвидсон в Самаре.<br>—
					span.text__bold 5000 человек за 2 дня
					span  посетили мероприятие<br>— из волонтеров (бесплатно) в личные ассистенты главного организатора Volga Fashion Week Samara (за деньги)
				p.pop__text.pop__end — Из СММ-спеца выросла до младшего партнера единственного в Самаре организатора джазовых концертов.
			.pop-plus-right.pop-nastya-pics
				img.pop-nastya__pic(src="./img/pops/nastya/1.jpg", alt="Фото насти 1")
				img.pop-nastya__pic(src="./img/pops/nastya/2.jpg", alt="Фото насти 2")
				img.pop-nastya__pic(src="./img/pops/nastya/3.jpg", alt="Фото насти 3")

	.pop-about-learn
		.pop-inner
			p.pop__text.text__bold 194 урока или 70 часов видео на платформе Getcourse
			p.pop__text Уроки разделены на 13 раундов. Один раунд — 2–3 недели. К каждому раунду — Домашнее задание. ДЗ&nbsp;проверяет шеф-маркетолог
			p.pop__text
				span.text__golden На платформе работает техподдержка<br>
				span  (пн–пт, 9-18)
			p.pop__text
				span.text__bold Но задать вопрос ты можешь 24/7.
				span  Наш бот очень старательный и по мере сил ответит тебе
			img.pop__img(src="./img/pops/about/programm.png", alt="")




	.pop-about-projects
		.pop-inner
			p.pop__text
				span.text__golden.text__bold Поток клиентов от ВШМ для своих учеников.<br>
				span  Площадка с проектами для разного уровня, ниш и специализаций
			p.pop__text.text__bold У тебя слишком много проектов и некуда брать новые? 
			p.pop__text Отправь их на биржу как заказчик и найдет себе помощника
			img.pop__img.pop__img--market(src="./img/pops/about/market.png", alt="Биржа проектов")


	.pop-about-database
		.pop-inner
			p.pop__text
				span.pop__text База знаний будет регулярно пополняться
				span  новыми инструментами, которые мы тестируем и получаем результат. Например,
			p.pop__text — обновления по инсте,<br>— обновления по ВК<br>— модуль по Тик-Току
			p.pop__text.text__golden Пополняемая база фишек от всех учеников ВШМ
			p.pop__text.text__bold 100+ фишек от поиска первого клиента до именных голосовых сообщений в рассылках
			img.pop__img(src="./img/pops/about/base.png", alt="")

	.pop-about-giving
		.pop-inner
			p.pop__text.text__bold 20+ майнд-карт по анализу ЦА, упаковке оффера, нейромаркетингу, автоворонкам, запускам
			p.pop__text.text__golden.text__bold 10+ шаблонов квизов, кейсов и КП, чек-листов и таблиц
			img.pop__img.pop__img--giving(src="./img/pops/about/mindmaps.png", alt="")


	.pop-about-buddying
		.pop-inner
			.swiper-button-prev.buddying-button-prev
			.swiper-button-next.buddying-button-next
			.pop-buddying-slider.swiper-container
				.swiper-wrapper.swiper-wrapper-buddying
					.swiper-slide
						p.pop__text
							span.text__bold Мы искали лучшие мировые практики по выращиванию супер-профи.
							span  И вселенная<br>(а точнее Англия) нам дала ответ.
						p.pop__text Buddying — это способ поддержки учеников в стиле партнёрства. Пока ты в ВШМ, за тобой закрепляется бадди (у нас это шеф-маркетолог). 
						p.pop__text Специалист, который шарит в маркетинге, и может не просто по ДЗ дать обратную связь, а указать на твои точки роста и узкие места.
						p.pop__text.text__bold
							span.text__golden Такая поддержка даст тебе то, что ты можешь спокойно прийти с проектом и прокачать его.
							span  А можешь прийти без проекта и найти его)
					.swiper-slide
						p.pop__text Это можно назвать поддержкой, но как устроена обычно поддержка у других — это жесть)) когда все варятся в одном чате, а тебе максимум ответят: «да, ДЗ принято» или «нет, не принято».
						p.pop__text Buddying — это способ поддержки учеников в стиле партнёрства. 
						p.pop__text Это не отношения ученик — куратор. Это общение на равных. Не только ты получаешь обратную связь от бадди, но и он от тебя.
						p.pop__text.text__bold
							span.text__golden Методика выращивания профессионалов
							span  ”Buddying”, проверена 858 учениками.
						img.pop__img.pop__img--buddying(src="./img/pops/about/buddying.png", alt="Buddying")



	.pop-about-psycho
		.swiper-button-prev.psycho-button-prev
		.swiper-button-next.psycho-button-next
		.pop-psycho-slider.swiper-container
			.swiper-wrapper.swiper-wrapper-psycho
				.swiper-slide
					.pop-inner
						p.pop__text
							span.text__bold Однажды Егор застыл на 50 000р.
							span  Хоть убей, то сделает 30к, то 60к, то 50к. Но так и не мог дойти до 100к.
							span.text__golden  Проблему эту он решил с психологом. Через 4 недели заработал 210к.

						p.pop__text Потом он застыл на стабильных 100к. С одной стороны, меньше он уже не зарабатывал. Просто не получалось. Но он не мог сделать 200–300к стабильным доходом. Здесь помогла индивидуальная работа с психологом в течение 2 месяцев.

						p.pop__text
							span.text__bold Кстати, наш психолог Валентина сама маркетёр и продюсер с охрентиельными кейсами
							span  (5 образований,
							span.text__golden  13 лет практики в маркетинге
							span ) . Как же долго мы ее искали
						img.pop__img-psycho.pop__img(src="./img/pops/about/psycho.png", alt="")
				.swiper-slide
					h2.pop__title Вот, что говорят про нее студенты ВШМ
					.psycho-pics
						img.psycho-pic(src="./img/pops/about/psycho-1.jpg", alt="")
						img.psycho-pic(src="./img/pops/about/psycho-2.jpg", alt="")
						img.psycho-pic(src="./img/pops/about/psycho-3.jpg", alt="")


	.pop-about-meetups
		.pop-inner
			p.pop__text.text__bold.text__golden Спикеры маркетологи по вашим запросам
			p.pop__text
				span.text__bold Интервью с лидерами области
				span  (да, тоже по вашим запросам)
			p.pop__text Эксперты по сторонним областям (soft skills)
			p.pop__text.text__golden Внутренние конференции с учениками
			p.pop__text Оффлайн-нетворкинги и конференции
			p.pop__text Публичное выступление — это лучший убийца синдрома самозванца и неумения презентовать себя заказчику.
			p.pop__text.text__bold Появляется понимание: «Я эксперт. Я по этой теме на конфе выступал.»
			img.pop__img(src="./img/pops/about/meetups.jpg", alt="")

	.pop-about-classes
		.pop-inner
			p.pop__text Мы взяли методы работы нашей команды и<br>
				span.text__golden  создали для каждого студента ВШМ рабочее пространство. 
			p.pop__text Ты сможешь работать плечом к плечу с другими ребятами, а
				span.text__golden.text__bold  шеф-маркетолог будет мониторить и подсказывать в случае чего
			p.pop__text Ты увидишь, что делают однокурсники параллельно с тобой. Какие задачи решают, какие результаты делают.
				span.text__golden.text__bold  Ты научишься ставить цели и на 100% достигать их
			p.pop__text Группы на курсе по 30 человек
			img.pop__img(src="./img/pops/about/classes.png", alt="")



	.pop-about-chats
		.pop-inner
			img.pop__img(src="./img/pops/about/chats.png", alt="")
			div.pop-text-wrapper--chats
				p.pop__text.text__right
					span.text__bold.text__golden Свой сервер Discord с чатами для работы<br>(в том числе нишевые):<br>
					span — общения со своим шеф-маркетологом<br>
					span — обсуждения проектов<br>
					span — поиска коллег и чатами для досуга<br>
				p.pop__text.text__right А еще голосовые чаты для общения с однокурсниками и создателями ВШМ
				p.pop__text.text__right В чатах работает система рейтингов за деление полезняком и активность

	.pop-about-combos
		.pop-inner
			div.pop-text-wrapper--chats
				p.pop__text Готовые стратегии, тексты, креативы и настройки таргета для разных ниш. Открываешь и просто копируешь наработки для своего проекта. Получаешь результат, кайфуешь.
			img.pop__img(src="./img/pops/about/library.png", alt="")

	.pop-egor
		.pop-inner
			h3.pop__title Гонин Егор
			p.pop__text.text__centered Автор курса «Ядерный Чемоданчик»,
				span.text__golden  основатель маркетингового агентства Dr.i-Bolit
				span , и
				span.text__golden.text__bold  со-основатель Высшей&nbsp;Школы&nbsp;Маркетинга,
				span.text__golden  преподаватель&nbsp;курсов Senler 
				span  (более 84 000 просмотров),
				span.text__bold  выпустил более 1000 учеников
			p.pop__text.text__centered Спикер курсов Таргет Хантер и конференций «Суровый питерский SMM»
			p.pop__text.text__centered Персонаж первой настольной игры для SMMщиков
			.pop-pics
				img.pop__img.pop__img--egor-1(src="./img/pops/egor/1.png", alt="")
				img.pop__img.pop__img--egor-2(src="./img/pops/egor/2.png", alt="")
				img.pop__img.pop__img--egor-3(src="./img/pops/egor/3.png", alt="")

	.pop-elective
		.pop-inner
			.elective-slider.swiper-container
				.swiper-button-prev.elective-button-prev
				.swiper-button-next.elective-button-next
				.swiper-wrapper
					.swiper-slide
						h3.pop__title Электив — это значит<br>ты выбираешь, что нужно тебе:
						h4.pop__title.text__golden Профессия: Маркетолог
						p.pop__text
							span.text__bold Раунды:
							span  Весь электив «Ядерный Чемоданчик».
						p.pop__text Да, друг,  для полноценного маркетинга тебе нужно всё содержание курса. Ты тот счастливчик, который выжмет из курса максимум.
						p.pop__text
							span.text__bold Время обучения:
							span  6 месяцев
						img.pop__img.elective__pic(src="./img/pops/elective/marketer.png", alt="")
					.swiper-slide
						h4.pop__title.text__golden Профессия: Копирайтер
						p.pop__text
							span.text__bold Раунды:
							span  покорять клиента текстом научишься после раундов  1, 2, 3, 4, 5 + из раунда 13 (фишки) уроки: 2, 4, 5, 6.
						p.pop__text Берем от жизни всё, верно?  Так что, если хочешь писать тексты еще и для рассылок, то пройди раунд 10.
						p.pop__text
							span.text__bold Время обучения:
							span  2 месяца
						img.pop__img.elective__pic(src="./img/pops/elective/copywriter.png", alt="")
					.swiper-slide
						h4.pop__title.text__golden Профессия: Специалист<br>по таргетированной рекламе
						p.pop__text 
							span.text__bold Раунды:
							span  Рекламу будешь настраивать с точностью снайпера, только пройди раунды  1, 2, 3, 4, 5, 6 про ВК.
						p.pop__text Но не стоит зацикливаться только на ВК, сможешь настраивать рекламу в Инстаграме и Фейсбуке (добей раунд 7),
						p.pop__text Одноклассники и контекст (раунд 8).
						p.pop__text Из раунда 13 бери мощные фишки в уроках: 1, 2, 8, 11, 14. Шире навыки – больше заработок.
						p.pop__text 
							span.text__bold Время обучения:
							span  3 месяца
						img.pop__img.elective__pic.elective__pic--target(src="./img/pops/elective/targeter.png", alt="")
					.swiper-slide
						h4.pop__title.text__golden Профессия: Специалист по продажам
						p.pop__text 
							span.text__bold Раунды:
							span  клиенты пойдут за тобой и твоим товаром на край света.
						p.pop__text Научись красиво продавать в раундах  1, 2, 3, 4, 5, 9.
						p.pop__text Из раунда 13 бери убойные фишки в уроках: 1, 2, 3, 5, 9, 10, 15
						p.pop__text 
							span.text__bold Время обучения:
							span  2 месяца
						img.pop__img.elective__pic(src="./img/pops/elective/salesman.png", alt="")

					.swiper-slide
						h4.pop__title.text__golden Профессия: Автоворонщик<br>(Архитектор автоворонок)
						p.pop__text 
							span.text__bold Раунды:
							span  сильнейшие техники по обольщению лидов забирай из раундов 1, 2, 3, 4, 5, 8,<br>9 10 + раунд 13 (фишки).
						p.pop__text 
							span.text__bold Время обучения:
							span  4 месяца
						img.pop__img.elective__pic(src="./img/pops/elective/funnel.png", alt="")

					.swiper-slide
						h4.pop__title.text__golden Профессия: Специалист<br>по личному бренду
						p.pop__text
							span.text__bold Раунды:
							span  сделаешь манящую упаковку бренду после раундов 1, 2, 3, 4, 9,
						p.pop__text все уроки про оформление и аудит сообщества из раунда 6,
						p.pop__text урок по оформлению профиля в инсте из раунда 7 + мини-курс по ФШ от дизайнера.
						p.pop__text Из раунда 13 смотри уроки: 2, 3, 4, 6, 9, 10, 12, 13 (там будут фишки, чтобы твой навык засиял).
						p.pop__text
							span.text__bold Время обучения:
							span  2 месяца
						img.pop__img.elective__pic.elective__pic--branding(src="./img/pops/elective/brander.png", alt="")


	.pop-nuclear
		.pop-inner.pop-inner--nuclear
			.nuclear-slider.swiper-container
				.swiper-button-prev.nuclear-button-prev
				.swiper-button-next.nuclear-button-next
				.swiper-wrapper
					.swiper-slide
						.nuclear-inner
							h4.pop__title.text__golden Почему в основе всего<br>«Ядерный Чемоданчик»?
							p.pop__text У нашего президента есть ядерный чемоданчик. Внутри кнопки для запуска ракет. И ты знаешь, что они способны на многое.
							p.pop__text «Ядерный Чемоданчик» от «Высшей школы маркетинга» запускает ракеты выручки в бизнесы твоих клиентов.
							p.pop__text Ты перестанешь бояться давать гарантии и начнешь работать за KPI. 
							p.pop__text Потому что будешь точно знать, как генерировать для клиентов реальную прибыль c помощью маркетинга. 
							p.pop__text Это позволит тебе избавиться от синдрома самозванца раз и навсегда.
							img.pop__img.nuclear__pic.nuclear__pic--yach-1(src="./img/pops/yach.png", alt="")
					.swiper-slide
						.nuclear-inner
							h4.pop__title.text__golden Электив опирается на...
							p.pop__text.text__bold опыт из 205 реальных проектов
							p.pop__text.text__bold.text__golden тренды ближайших 5 лет 
							p.pop__text.text__bold окупаемость через 35 часов обучения из 94 часов программы
							p.pop__text.text__bold.text__golden методику выращивания профессионалов ”Buddying”, проверенную на 858 учениками.
							p.pop__text.text__bold Ты перестанешь быть вечным студентом и тратить деньши на новые курсы
							img.pop__img.nuclear__pic.nuclear__pic--yach-2(src="./img/pops/yach.png", alt="")

	.pop-mikhail
		.pop-inner
			h3.pop__title Дайбов Михаил
			h3.pop__subtitle.text__centered шеф-маркетолог
			p.pop__text.text__bold.text__golden Сделка с застройщиком в пандемию общим чеком 20 млн. рублей 
			p.pop__text
				span.text__bold 11 лет в активных продажах
				span  как в найме так и на себя
			p.pop__text 3 года успешных проектных продаж
			p.pop__text в 20 лет успешно организовал автомастерскую по ремонту автомобилей, вырос с арендованного гаража до большого 6 постового бокса с проф оборудованием.
			p.pop__text помогаю ученикам в обучении маркетингу и продажам 
			p.pop__text просто хороший и надежный парень=)

	.pop-dim
		.pop-inner
			h3.pop__title Пекный Дмитрий
			h3.pop__subtitle.text__centered руководитель отдела продукта
			p.pop__text.text__bold Вырос из спеца по тех.поддержке до руководителя отдела заботы о студентах
			p.pop__text.text__golden Построил процесс обучения ВШМ на платформе Геткурс
			p.pop__text Выстроил работу тех. поддержки для помощи ученикам 24/7
			p.pop__text Построил экосистему чатов на сервере Дискорд

	.pop-nikolai
		.pop-inner
			h3.pop__title Дмитриев Николай
			h3.pop__subtitle.text__centered автоматизатор
			p.pop__text.text__golden Маркетолог по техническим разработкам школы. Архитектор биржи проектов
			p.pop__text.text__bold За 4 дня привёл заказчику 50 клиентов (одежда) по средней цене клика 4.58 и цене заявки 183.25
			p.pop__text Запустил клиенту акцию и закрыл 20 мест за 3 дня.
			p.pop__text Получил 4 оплаты на продукт с чеком 2700р, потратив 734р


	.pop-bogdan 
		.pop-inner
			h3.pop__title Барбашов Богдан
			p.pop__text.text__golden Ведущий консультирующий маркетолог школы.
			p.pop__text Пришел в команду на роль помощника Сумасшедшего. 
			p.pop__text Через 2 года уже провел 100+ проектов в 25 разных нишах
			p.pop__text.text__bold Открыл Роллердром в Омске на 700+ человек за день
			p.pop__text.text__golden 200 человек за день на открытие магазина Башпрод
			p.pop__text Привел 5000+ живых клиентов во всех проектах агентства 
			p.pop__text.text__bold Рекорд цены заявки с телефона — 13 рублей
			//- p.pop__text.text__bold Выстроил систему обучения проект-менеджеров в агентстве

	.pop-coursework
		.pop-inner
			h3.pop__title
				span.text__golden Важно!
				span  К началу обучения<br>у тебя должен быть проект!
			p.pop__text.text__centered Это может быть проект заказчика, а можешь быть ты сам, как специалист. 
			p.pop__text.text__centered На этом проекте ты будешь учиться и выполнять все домашки будешь тоже по нему.
			p.pop__text.text__centered.text__golden Хочешь найти проект, но сомневаешься,<br>получится ли?
			p.pop__text.text__centered Тебя ждёт мини-курс,<br>
				//- span.text__bold «Как найти первого клиента»
				span.text__bold как найти первого клиента

	.pop-programm
		.pop-inner
			.programm-slider.swiper-container
				.swiper-button-prev.programm-button-prev
				.swiper-button-next.programm-button-next
				.swiper-wrapper
					.swiper-slide
						p.pop__text Обучение происходит на платформе GetCourse. 
						p.pop__text Каждый урок — это запись с хорошим звуком и<br>четкой картинкой. Вся информация по полочкам&nbsp;— приятно смотреть, удобно запоминать, легко<br>внедрять.
						p.pop__text  У тебя будет личный кабинет и свой виртуальный класс в Миро, а результаты твоего задания увидит только персональный шеф-маркетолог. Потому что мы&nbsp;понимаем, насколько тебе важна конфиденциальность.
						img.pop__img.pop__img--programm.pop__img--programm-1(src="./img/pops/platform.png", alt="")
					.swiper-slide
						p.pop__text У ВШМ академический подход к образовательному процессу. Мы не одобряем обучение на бегу и<br>топим за ответственный, осознанный подход к<br>каждому уроку. 
						p.pop__text Поэтому, извини, но смотреть с мобильного не<br>получится. Каждый урок защищен<br>инфопроектором. Думаешь, это минус? Сначала прочитай свои преимущества от такой защиты:
						p.pop__text  Ты заплатишь за уникальные уроки, полностью защищенные от сливов. А еще не выбросишь<br>деньги на ветер за битую версию наших курсов
						img.pop__img.pop__img--programm.pop__img--programm-2(src="./img/pops/platform-2.png", alt="")

	.pop-homework
		.pop-inner
			p.pop__text Домашнее задание учеников проверяет<br>шеф-маркетолог. В письменной форме. 
			p.pop__text Бонусы за ДЗ тоже есть, но если завалишь дедлайн по домашке, получишь доступ к плюшкам «Ядерного Чемоданчика» только в конце обучения
			p.pop__text Два раза в месяц проводим рандомный разбор домашних заданий студентов в прямом эфире.
			img.pop__img(src="./img/pops/hw.png", alt="")

	.pop-flex
		.pop-inner
			p.pop__text
				span.text__bold Техподдержка всегда доступна
				span  и готова ответить на твои вопросы.
			p.pop__text  У тебя будут подробные инструкции по прохождению уроков и выполнению домашних заданий.
			p.pop__text
				span.text__golden Хочешь поменять модули местами?
				span  Например, сейчас первым делом надо освоить таргет в Инсте для заказчика.
				span.text__bold  Никаких проблем. 
			p.pop__text
				span.text__golden  Нужно заморозить учебу и уехать в отпуск?
				span.text__bold  Пожалуйста.
			img.pop__img(src="./img/pops/support.png", alt="")


	.pop-warranties
		.pop-inner
			p.pop__text
				span.text__bold Обучение гарантирует что ты удвоишь свой доход или мы вернём деньги.
				span  Кстати, цифра про удвоение взята не с потолка. Мы заметили, что в среднем
				span.text__bold  ученики удвоившие доход
				span , делали это максимум
				span.text__bold  за 4 месяца.

			p.pop__text Обучение гарантирует что ты окупишь его с первых модулей.
			p.pop__text
				span.text__golden В конце ты получаешь сертификат ВШМ и по запросу государственный диплом РФ.
				span.text__bold  Мы прошли аттестацию и можем выдавать дипломы гособразца.
			.pop-pics-warranties
				img.pop__img.pop__img-warranty--1(src="./img/hero/diploma.png", alt="")
				img.pop__img.pop__img-warranty--2(src="./img/hero/warranty.png", alt="")



	.pop-communication
		.pop-inner
			p.pop__text.text__bold Нишевые чаты это система отдельных чатов по конкретным нише, где собраны наработки всех коллег по этой нише, результаты, фишки и подводные камни.
			p.pop__text Чаты для работы, общения со своим шеф-маркетологом, обсуждения проектов, поиска коллег и чатами для досуга.
			p.pop__text Голосовые чаты для общения с однокурсниками и командой ВШМ.
			p.pop__text.text__golden В чатах работает система рейтинга за деление полезняком и активности.
			img.pop__img.pop__img--communication(src="./img/pops/chats.png", alt="")


	.learn-faq__employe
	.pop-employe
		.pop-inner
			.swiper-container.employe-slider
				.swiper-button-prev.employe-button-prev
				.swiper-button-next.employe-button-next
				.swiper-wrapper
					.swiper-slide
						h3.pop__text.text__bold.text__golden Теперь у тебя есть источник проектов.
						p.pop__text
							span.text__bold Заказчики, которые уже уверены в твоих компетенциях
							span  — ведь ты подтвердил(а) их прохождением обучения и получил(а)<br>соотвествующую скилл-карточку и
							span.text__bold  государственный&nbsp;диплом.
						p.pop__text
							span.text__golden Проекты приходят
							span  из постоянного потока заявок в наше агентство Dr.i-Bolit, 80% которых физически не может быть взято в работу.
							span.text__bold  Такая практика отлично<br class="only-desktop">себя показала
							span  в нашем первом клубе, а<br class="only-desktop">тут выводится на новый уровень.
					.swiper-slide
						h3.pop__text.text__bold
							span.text__golden Лучшие из лучших студентов
							span  получат приглашение стать частью нашей команды.
						p.pop__text И кто знает, возможно, в их числе будешь и ты?
						p.pop__text Главные задачи — хорошо учиться и проявлять активность в нишевых чатах.
						img.pop__img(src="./img/pops/team.png", alt="")



	.pop-drag.pop-drag-1
		.pop-drag-inner
			.swiper-container.drag-slider.drag-slider-1
				.swiper-button-next.drag-1-button-next
				.swiper-button-prev.drag-1-button-prev
				.swiper-wrapper
					.swiper-slide.drag-slide
						h3.pop__title.text__golden Раунд 1: Маркетинговая база
						.drag-content
							.pop-drag-bonuses
								.pop-drag-get-skillcard
									img.pop-drag-get-skillcard__img(src="./img/pops/drag/skill-1.png", alt="")
									p.pop__text.text__centered
										span.text__bold скилл-карточка:<br>
										span.text__golden Мастер-исследователь ниш
									p.pop__text.text__centered.text__bold Количество домашних заданий по итогам раунда: 4

								.pop-drag-get-bonus
									img.pop-drag-get-bonus__img(src="./img/pops/drag/bonus-1.png", alt="")
									p.pop__text.text__centered.text__golden.text__bold Бонус за выполнение ДЗ: 
									p.pop__text.text__centered 2 урока от Тимура Кадырова<br>по автоворонкам и уровням осознанности клиентов
							.pop-drag-lessons
								p.pop__text.text__bold Урок 1:
								p.pop__text Что такое маркетинг на самом деле. 3 маркетинговые методики анализа: концепция 4Р, лестница Ханта, Шеррингтон.
								p.pop__text
									span.text__bold Урок 2:<br>
									span Анализ целевой аудитории, продукта и конкурентов. Майнд-карты и таблица.
								p.pop__text.text__bold Урок 3:
								p.pop__text Оффер, который выделит тебя среди конкурентов и зайдет твоей ЦА.
								p.pop__text 
									span.text__bold Урок 4:<br>
									span Строим продуктовую воронку и формируем маркетинговую стратегию. Изучаем и внедряем маркетинговые показатели.
							.pop-additional
								p.pop__text.text__bold.text__centered Доп.материалы:  7 майнд-карт, 5 таблиц, 2 документа
								p.pop__text.text__bold.text__golden Результат:
								p.pop__text Научишься составлять 
								p.pop__text маркетинговую стратегию продвижения любого проекта с помощью готовых
								p.pop__text Сможешь отслеживать маркетинговые<br>показатели внутри каждого проекта.
								p.pop__text.text__bold.text__golden Как нам помог этот раунд:
								p.pop__text Именно этот Раунд позволил нам
								p.pop__text проработать 3 проекта одновременно и впоследствии сделать во всех по 50–100 заявок не дороже 100 рублей


					.swiper-slide.drag-slide
						h3.pop__title.text__golden Раунд 2: Психология потребителя. Нейромаркетинг
						.drag-content
							.pop-drag-bonuses
								.pop-drag-get-skillcard
									img.pop-drag-get-skillcard__img(src="./img/pops/drag/skill-2.png", alt="")
									p.pop__text.text__centered
										span.text__bold скилл-карточка:<br>
										span.text__golden Мастер-мозгохакер/<br>Нейро-мастер
									p.pop__text.text__centered.text__bold Количество домашних заданий по итогам раунда: 1

								.pop-drag-get-bonus
									img.pop-drag-get-bonus__img(src="./img/pops/drag/bonus-2.png", alt="")
									p.pop__text.text__centered.text__golden.text__bold Бонус за выполнение ДЗ: 
									p.pop__text.text__centered 3 урока от  Льва Хлыновски по запуску вирусняка
							.pop-drag-lessons
								p.pop__text Что такое триггеры, мотиваторы и программаторы. 
								p.pop__text Как с помощью авторских наработок по нейромаркетингу продавать даже не разбираясь в рекламе.
							.pop-additional
								p.pop__text.text__bold.text__centered Доп.материалы: 4  майнд-карты
								p.pop__text.text__bold.text__golden Результат:
								p.pop__text Ты научишься использовать триггеры в маркетинговой стратегии так, чтобы цеплять внимание потребителей. 
								p.pop__text Это позволит продавать даже с постов без вложений в рекламу.
								p.pop__text.text__bold.text__golden Как нам помог этот раунд:  
								p.pop__text Этот раунд установил наш рекорд — 750&nbsp;лайков у поста;
								p.pop__text позволил проработать рекламу, которая сразу даёт заявки и приводит к продажам.


					.swiper-slide.drag-slide
						h3.pop__title.text__golden Раунд 3: Продажа через упаковку
						.drag-content
							.pop-drag-bonuses
								.pop-drag-get-skillcard
									img.pop-drag-get-skillcard__img(src="./img/pops/drag/skill-3.png", alt="")
									p.pop__text.text__centered
										span.text__bold скилл-карточка:<br>
										span.text__golden Бренд-мастер
									p.pop__text.text__centered.text__bold Количество домашних заданий по итогам раунда: 1

								.pop-drag-get-bonus
									img.pop-drag-get-bonus__img(src="./img/pops/drag/bonus-3.jpg", alt="")
									p.pop__text.text__centered.text__golden.text__bold Бонус за выполнение ДЗ: 
									p.pop__text.text__centered 5 дополнительных видео-уроков от Ники Зебры по личному бренду
							.pop-drag-lessons
								p.pop__text Как построить личный бренд для себя или своего клиента. 
								p.pop__text Готовая пошаговая майнд-карта, заполнив которую ты сможешь создавать упаковку различных брендов.
							.pop-additional
								p.pop__text.text__bold.text__centered Доп.материалы: 2 майнд-карты по личному бренду
								p.pop__text.text__bold.text__golden Результат:
								p.pop__text Ты научишься формировать бренд и управлять им. 
								p.pop__text Это позволит тебе обеспечить долгосрочные продажи заказчику, основанные на доверии
								p.pop__text.text__bold.text__golden Как нам помог этот раунд:  
								p.pop__text Рождение  Сумасшедшего Маркетёра и Dr.i-Bolit, которые принесли миллионы рублей за пару лет.


					.swiper-slide.drag-slide
						h3.pop__title.text__golden Раунд 4: В начале было слово, потом — лиды. Копирайтинг.
						.drag-content
							.pop-drag-bonuses
								.pop-drag-get-skillcard
									img.pop-drag-get-skillcard__img(src="./img/pops/drag/skill-4.png", alt="")
									p.pop__text.text__centered
										span.text__bold скилл-карточка:<br>
										span.text__golden Мастер слова
									p.pop__text.text__centered.text__bold Количество домашних заданий по итогам раунда: 1

								.pop-drag-get-bonus
									img.pop-drag-get-bonus__img(src="./img/pops/drag/bonus-4.jpg", alt="")
									p.pop__text.text__centered.text__golden.text__bold Бонус за выполнение ДЗ: 
									p.pop__text.text__centered дополнительный урок по копирайтингу от Никиты Жесткова
							.pop-drag-lessons
								p.pop__text Как писать так, чтобы читали. 
								p.pop__text Как писать так, чтобы не просто читали, но и покупали. 
								p.pop__text Майнд-карта профессионального копирайтера или 
								p.pop__text «О чем писать сегодня?»
							.pop-additional
								p.pop__text.text__bold.text__centered Доп.материалы:&nbsp;карта копирайтера
								p.pop__text.text__bold.text__golden Результат:
								p.pop__text вот и потекли к тебе заявки да клиенты с твоих текстов.
								p.pop__text.text__bold.text__golden Как нам помог этот раунд:  
								p.pop__text 528  лидов с 1 поста; 27 000р<br>с первого клика; 750 лайков





	.pop-drag.pop-drag-2
		.pop-drag-inner
			.swiper-container.drag-slider.drag-slider-2
				.swiper-button-next.drag-2-button-next
				.swiper-button-prev.drag-2-button-prev
				.swiper-wrapper
					.swiper-slide.drag-slide
						h3.pop__title.text__golden Раунд 5: стратегии продаж и лидогенерации. Манимейкинг
						.drag-content
							.pop-drag-bonuses
								.pop-drag-get-skillcard
									img.pop-drag-get-skillcard__img(src="./img/pops/drag/skill-5.png", alt="")
									p.pop__text.text__centered
										span.text__bold скилл-карточка:<br>
										span.text__golden Мастер-манимейкер
									p.pop__text.text__centered.text__bold Количество домашних заданий по итогам раунда: 1

								.pop-drag-get-bonus
									img.pop-drag-get-bonus__img(src="./img/pops/drag/bonus-5.png", alt="")
									p.pop__text.text__centered.text__golden.text__bold Бонус за выполнение ДЗ: 
									p.pop__text.text__centered видео-уроки от Миши Кирсанова, как путешествовать и не просрать все заработанное
							.pop-drag-lessons
								p.pop__text — Как сделать деньги быстро и себе и клиенту. 
								p.pop__text — Как продавать 1 постом с помощью готовой формулы. 
								p.pop__text — Авторская технология, как можно получить заявки за час!
							.pop-additional
								p.pop__text.text__bold.text__centered Доп.материалы: майнд-карта манимейкера + 2 доп.урока по нишеванию
								p.pop__text.text__bold.text__golden Результат:
								p.pop__text Узнаешь как можно продавать одним постом на десятки тысяч рублей.
								p.pop__text.text__bold.text__golden Как нам помог этот раунд:
								p.pop__text 70 000р с одного письма;<br>
									span  окупаемость вложений 1 к 10;
								p.pop__text 100% конверсия в доходность из онлайна в оффлайн


					.swiper-slide.drag-slide
						h3.pop__title.text__golden Раунд 6: реклама и рекламные инструменты, часть 1
						.drag-content
							.pop-drag-bonuses
								.pop-drag-get-skillcard
									img.pop-drag-get-skillcard__img(src="./img/pops/drag/skill-6.png", alt="Скилл-карточка")
									p.pop__text.text__centered
										span.text__bold скилл-карточка:<br>
										span.text__golden Мастер-ВКонтактер
									p.pop__text.text__centered.text__bold Количество домашних заданий по итогам раунда: 1

								.pop-drag-get-bonus
									img.pop-drag-get-bonus__img(src="./img/pops/drag/bonus-6.jpg", alt="Константин Григорьев")
									p.pop__text.text__centered.text__golden.text__bold Бонус за выполнение ДЗ: 
									p.pop__text.text__centered дополнительный видео-урок от Константина Григорьева по крео
							.pop-drag-lessons
								p.pop__text Ты научишься превращать сообщества в инструмент конверсии. 
								p.pop__text.text__bold Освоишь полный набор инструментов для ВКонтакте:
								p.pop__text — аудит сообществ с помощью готового чек-листа
								p.pop__text — упаковка сообществ в ВК, оформление сообщества так, чтобы люди с удовольствием в него вступали и оставались надолго. С помощью дизайнера и самостоятельно
								p.pop__text — автоматизация процессов внутри соц. сети.
								p.pop__text — сбор аудитории и настройка таргетированной рекламы
							.pop-additional
								p.pop__text.text__bold.text__centered Доп.материалы:  чек-лист для аудита сообщества, шаблон ТЗ на дизайн, памятка по креативу
								p.pop__text.text__bold.text__golden Результат:
								p.pop__text Научишься получать заявки из ВКонтакте, но не только за счет рекламного кабинета, но и за счет грамотного оформления сообщества
								p.pop__text.text__bold.text__golden Как нам помог этот раунд:
								p.pop__text 110  проектов за 1 год принесла работа с ВКонтакте



					.swiper-slide.drag-slide
						h3.pop__title.text__golden Раунд 7: реклама и рекламные инструменты, часть 2
						.drag-content
							.pop-drag-bonuses
								.pop-drag-get-skillcard
									img.pop-drag-get-skillcard__img(src="./img/pops/drag/skill-7.png", alt="")
									p.pop__text.text__centered
										span.text__bold скилл-карточка:<br>
										span.text__golden Мастер-инстаграмер
									p.pop__text.text__centered.text__bold Количество домашних заданий по итогам раунда: 1

								.pop-drag-get-bonus
									img.pop-drag-get-bonus__img(src="./img/pops/drag/bonus-7.png", alt="")
									p.pop__text.text__centered.text__golden.text__bold Бонус за выполнение ДЗ: 
									p.pop__text.text__centered видео-урок от Ивана Мосичева
							.pop-drag-lessons
								p.pop__text Ты научишься работать с Инстаграмом. 
								p.pop__text А точнее узнаешь, как приводить лиды из<br>этой социальной сети, как за счет рекламы, так и за счет визуала профиля.
							.pop-additional.pop-additional--round-7
								p.pop__text.text__bold.text__golden Результат:
								p.pop__text Сможешь получать лиды для себя и заказчиков из Инстаграма. 
								p.pop__text Узнаешь, как оформить профиль и настроить рекламу на нужную тебе ЦА
								p.pop__text.text__bold.text__golden Как нам помог этот раунд:  
								p.pop__text Инстаграм  принёс одному из наших проектов 800+ заявок за 10 месяцев


					.swiper-slide.drag-slide
						h3.pop__title.text__golden Раунд 8: реклама и рекламные инструменты, часть 3
						.drag-content
							.pop-drag-bonuses
								.pop-drag-get-skillcard
									img.pop-drag-get-skillcard__img(src="./img/pops/drag/skill-8.png", alt="")
									p.pop__text.text__centered
										span.text__bold скилл-карточка:<br>
										span.text__golden Мастер экспресс-лидгенщик<br>ОКер
									p.pop__text.text__centered.text__bold Количество домашних заданий по итогам раунда: 1

								.pop-drag-get-bonus
									img.pop-drag-get-bonus__img(src="./img/pops/drag/bonus-8.png", alt="")
									p.pop__text.text__centered.text__golden.text__bold Бонус за выполнение ДЗ: 
									p.pop__text.text__centered видео-урок от Антона Тума
							.pop-drag-lessons
								p.pop__text Ты освоишь 3 дополнительных способа лидогенерации.
								p.pop__text Освоишь канал привлечения клиентов, о котором мало кто догадывается: Одноклассники.
								p.pop__text Разберешься, как сделать конвертирующий лендинг и контекстную рекламу. 
								p.pop__text Как с помощью формул вкусных текстов и шаблонов на Тильде приводить лиды заказчику. 
								p.pop__text Научишься составлять ТЗ для спецов, чтобы делегировать задачи быстро и недорого.
								p.pop__text Получишь пачку фишек по увеличению потока заявок, повышению конверсии и дожиму будущих клиентов.
							.pop-additional
								p.pop__text.text__bold.text__centered Доп.материалы: подборка полезных ссылок для лидгена, примеры качественных лендингов, ТЗ<br>на контекст
								p.pop__text.text__bold.text__golden Результат:
								p.pop__text +3 канала привлечения клиентов. 
								p.pop__text Узнаешь как можно развернуть<br>небольшую систему лидгена за 2–3 дня
								p.pop__text.text__bold.text__golden Как нам помог этот раунд:  
								p.pop__text рекордный  месяц, 100 заявок на наши услуги конвертировались, благодаря выстроенной воронке сайта; ОК помог забить группы в детские лагеря и центры.




	.pop-drag.pop-drag-3
		.pop-drag-inner
			.swiper-container.drag-slider.drag-slider-3
				.swiper-button-next.drag-3-button-next
				.swiper-button-prev.drag-3-button-prev
				.swiper-wrapper
					.swiper-slide.drag-slide
						h3.pop__title.text__golden Раунд 9: конвертация заявок в деньги. Продажи
						.drag-content
							.pop-drag-bonuses
								.pop-drag-get-skillcard
									img.pop-drag-get-skillcard__img(src="./img/pops/drag/skill-9.png", alt="Скилл-карточка")
									p.pop__text.text__centered
										span.text__bold скилл-карточка:<br>
										span.text__golden Мастер продаж
									p.pop__text.text__centered.text__bold Количество домашних заданий по итогам раунда: 1

								.pop-drag-get-bonus
									img.pop-drag-get-bonus__img(src="./img/pops/drag/bonus-9.png", alt="")
									p.pop__text.text__centered.text__golden.text__bold Бонус за выполнение ДЗ: 
									p.pop__text.text__centered видео-урок от Макса Шишкина по найму персонала
							.pop-drag-lessons
								p.pop__text Ты научишься конвертировать заявки в рубли. 
								p.pop__text Узнаешь, как с помощью грамотной подготовки и 8 принципов заключения сделки превращать заявки в клиентов и деньги на счету заказчика. 
								p.pop__text Получишь готовый пошаговый мануал по организации системы продаж, который позволит повысить конверсию лидов в клиентов.
							.pop-additional
								p.pop__text.text__bold.text__centered Доп.материалы:   мануал по продажам,&nbsp;пример скрипта исходящего&nbsp;звонка по заявке,<br>комплект готовых сценариев<br>продаж
								p.pop__text.text__bold.text__golden Результат:
								p.pop__text Сможешь не просто продавать, а построить полноценную систему<br>продаж, как для себя, так и для своего заказчика. 
								p.pop__text Такая система позволит приводить лиды на стабильной основе и увеличить, как свой доход, так и заказчика.
								p.pop__text.text__bold.text__golden Как нам помог этот раунд:
								p.pop__text Обучившись  по этим материалам, наша коллега заключила за 3 дня<br>сделок&nbsp;на 390&nbsp;000р


					.swiper-slide.drag-slide
						h3.pop__title.text__golden Раунд 10: автоворонки
						.drag-content
							.pop-drag-bonuses
								.pop-drag-get-skillcard
									img.pop-drag-get-skillcard__img(src="./img/pops/drag/skill-10.png", alt="")
									p.pop__text.text__centered
										span.text__bold скилл-карточка:<br>
										span.text__golden Мастер автоворонок
									p.pop__text.text__centered.text__bold Количество домашних заданий по итогам раунда: 1

								.pop-drag-get-bonus
									img.pop-drag-get-bonus__img(src="./img/pops/drag/bonus-10.png", alt="")
									p.pop__text.text__centered.text__golden.text__bold Бонус за выполнение ДЗ: 
									p.pop__text.text__centered дополнительный видео-урок<br>от Олександра Мойсеюка
							.pop-drag-lessons
								p.pop__text Ты научишься проектировать автоворонки. 
								p.pop__text А точнее, автоматизировать процесс прогрева клиентов за счет технологии построения рассылок, которые вызывают нестерпимую жажду купить. 
								p.pop__text Узнаешь, как имитировать живое общение в сообществе. И даже на своей странице. 
								p.pop__text Получишь несколько крутых фишек по сверх-дожиму.
							.pop-additional
								p.pop__text.text__bold.text__centered Доп.материалы: пример готовой схемы автоворонки, база самых популярных имен для создания ботов, база со страницами ботов, инструкция по прогреву с личной страницы эксперта
								p.pop__text.text__bold.text__golden Результат:
								p.pop__text За счет автоматизации процесса прогрева ЦА и имитации живого общения, ты сможешь приводить клиентам качественные лиды, однако при этом не работать 24/7
								p.pop__text.text__bold.text__golden Как нам помог этот раунд:
								p.pop__text.text__bold автоворонка  на наши услуги установила рекорд окупаемости<br>1 к 20



					.swiper-slide.drag-slide
						h3.pop__title.text__golden Раунд 11: оффлайн и онлайн запуски
						.drag-content
							.pop-drag-bonuses
								.pop-drag-get-skillcard
									img.pop-drag-get-skillcard__img(src="./img/pops/drag/skill-11.png", alt="")
									p.pop__text.text__centered
										span.text__bold скилл-карточка:<br>
										span.text__golden Мастер-запускатор
									p.pop__text.text__centered.text__bold Количество домашних заданий по итогам раунда: 1

								.pop-drag-get-bonus
									img.pop-drag-get-bonus__img(src="./img/pops/drag/bonus-11.png", alt="")
									p.pop__text.text__centered.text__golden.text__bold Бонус за выполнение ДЗ: 
									p.pop__text.text__centered дополнительный видео-урок<br>от Димы Звездуна
							.pop-drag-lessons
								p.pop__text Ты освоишь технологию запусков и оффлайн, и онлайн.
								p.pop__text Узнаешь, как вскрыть потребность рынка и раскачать холодную аудиторию.
								p.pop__text Научишься активировать потребность в твоем продукте и вовлекать ЦА в его создание.
								p.pop__text А еще получишь разбор 8 кейсов на миллионы рублей. И&nbsp;даже 1 провального.
							.pop-additional
								p.pop__text.text__bold.text__centered Доп.материалы: майнд-карта<br>по запуску
								p.pop__text.text__bold.text__golden Результат:
								p.pop__text Знаешь, как привести толпу покупателей на старт продаж.
								p.pop__text Умеешь выводить на рынок новые продукты.
								p.pop__text.text__bold.text__golden Как нам помог этот раунд:  
								p.pop__text запуск  привёл со 100% конверсией 700 человек нашему клиенту


					.swiper-slide.drag-slide
						h3.pop__title.text__golden Раунд 12: масштабирование маркетинга
						.drag-content
							.pop-drag-bonuses
								.pop-drag-get-skillcard
									img.pop-drag-get-skillcard__img(src="./img/pops/drag/skill-12.png", alt="")
									p.pop__text.text__centered
										span.text__bold скилл-карточка:<br>
										span.text__golden Мастер делегирования/ Мастер&nbsp;масштабирования
									p.pop__text.text__centered.text__bold Количество домашних заданий по итогам раунда: 1

								.pop-drag-get-bonus
									img.pop-drag-get-bonus__img(src="./img/pops/drag/bonus-12.png", alt="")
									p.pop__text.text__centered.text__golden.text__bold Бонус за выполнение ДЗ: 
									p.pop__text.text__centered 7 способов по удержанию клиентов
							.pop-drag-lessons
								p.pop__text Ты узнаешь, как увеличить свой текущий доход минимум в 2 раза. 
								p.pop__text Узнаешь, как внедрить автоматизацию проектов. 
								p.pop__text Научишься подбирать и контролировать<br>маркетологов, таргетологов и прочих спецов маркетинговой сферы.
							.pop-additional
								p.pop__text.text__bold.text__golden Результат:
								p.pop__text маркетолог сможет создать свою команду и научится эффективно делегировать работу фрилансерам,
								p.pop__text а предприниматель сможет найти, пожалуй, одного из важнейших<br>людей в своём бизнесе — маркетолога
								p.pop__text.text__bold.text__golden Как нам помог этот раунд:  
								p.pop__text.text__bold вырасти  за год до 12 человек, сделавших более 100 проектов<br>за&nbsp;год 

	.pop-thanks
		.pop-inner.pop-inner--thanks
			.swiper-button-prev.thanks-button-prev
			.swiper-button-next.thanks-button-next
			.thanks-slider.swiper-container
				.swiper-wrapper.swiper-wrapper-thanks
					.swiper-slide
						.thanks-slide-inner
							img(src="./img/pops/thanks-1.jpg", alt="")
					.swiper-slide
						.thanks-slide-inner
							img(src="./img/pops/thanks-2.jpg", alt="")




	.pop-privacy
		.pop-inner
			p.text__bold.text__golden Политика в отношении обработки персональных данных
			p.text__bold 1. Общие положения

			p Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных ИП Гонин Е. Н. (далее – Оператор).

			p 1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.

			p 2. Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта Crazymarketer.ru

			p.text__bold 2. Основные понятия, используемые в Политике

			p 1. Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;

			p 2. Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);

			p 3. Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу Crazymarketer.ru

			p 4. Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;

			p 5. Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных;

			p 6. Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;

			p 7. Оператор – государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;

			p 8. Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта Crazymarketer.ru

			p 9. Пользователь – любой посетитель веб-сайта Crazymarketer.ru

			p 10. Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;

			p 11. Распространение персональных данных – любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;

			p 12. Трансграничная передача персональных данных – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу;

			p 13. Уничтожение персональных данных – любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) результате которых уничтожаются материальные носители персональных данных.


			p.text__bold 3. Оператор может обрабатывать следующие персональные данные Пользователя

			p 1. Фамилия, имя, отчество;

			p 2. Электронный адрес;

			p 3. Номера телефонов;

			p 4. Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).

			p 5. Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.


			p.text__bold 4. Цели обработки персональных данных

			p 1. Цель обработки персональных данных Пользователя — Уточнение деталей заказа услуги.

			p 2. Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты Egor@crazymarketer.ru с пометкой «Отказ от уведомлениях о новых продуктах и услугах и специальных предложениях».

			p 3. Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.


			p.text__bold 5. Правовые основания обработки персональных данных

			p 1. Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте Crazymarketer.ru Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.

			p 2. Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).


			p.text__bold 6. Порядок сбора, хранения, передачи и других видов обработки персональных данных

			p Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.

			p 1. Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.

			p 2. Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.

			p 3. В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора Egor@crazymarketer.ru с пометкой «Актуализация персональных данных».

			p 4. Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператор Egor@crazymarketer.ru с пометкой «Отзыв согласия на обработку персональных данных».


			p.text__bold 7. Трансграничная передача персональных данных

			p 1. Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных.

			p 2. Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.


			p.text__bold 8. Заключительные положения

			p 1. Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты Egor@crazymarketer.ru

			p 2. В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.

			p 3. Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу Egor@crazymarketer.ru


	img.pop-certificate-1(src="./img/pops/certs/1.jpg", alt="")
	img.pop-certificate-2(src="./img/pops/certs/2.jpg", alt="")
	img.pop-certificate-3(src="./img/pops/certs/3.jpg", alt="")
	img.pop-certificate-4(src="./img/pops/certs/4.jpg", alt="")

	//- .pop-artyom
	//-     .pop-inner
	//-         p.pop__title Юдин Артём
	//-         p.pop__text Администатор онлайн-школы.


	.pop-leaving
		.pop-inner
			p.pop__title.text__centered Уходишь?
			p.pop__title.text__golden.text__centered Без подарка не отпустим:)
			p.pop__text.text__centered Держи бонусный урок по маркетинговому исследованию с анализом ЦА — это фундамент всех профессий, связанных с маркетингом.

			p.pop__text.text__centered
				span.text__golden Забирай свой подарок и
				span.text__bold  приходи на бесплатную
				span  консультацию
				span.text__golden  маркетолога .
			a.button-primary.button-leaving.button-centered(href=`${leavingPop}`) Забрать подарок
.burger
	span.burger__line.burger__line--top
	span.burger__line.burger__line--center
	span.burger__line.burger__line--bottom
